/* NavBar.css */
nav {
    background-color: grey; 
    padding: 1rem; /* Padding around the navbar */
}

ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0; 
    padding: 0; 
    display: flex; 
}

li {
    margin-right: 2rem; 
}

a {
    color: pink; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}
